[tool.poetry]
name = "betfair_parser"
version = "0.2.2"
description = ""
authors = ["Bradley McElroy <bradley.mcelroy@live.com>"]

[tool.poetry.dependencies]
python = ">=3.9,<4.0"
msgspec = "^0.15.1"
fsspec = ">=2022"

[tool.poetry.dev-dependencies]
pytest = "^7.1"
pytest-benchmark = "^4.0"

[tool.black]
line-length = 120

[tool.isort]
line_length = 120
ensure_newline_before_comments = true
single_line_exclusions = "typing"
multi_line_output = 3
lines_after_imports = 2
use_parentheses = true
include_trailing_comma = true
combine_as_imports = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
