[tool.poetry]
name = "betfair_parser"
version = "0.1.4"
description = ""
authors = ["Bradley McElroy <bradley.mcelroy@live.com>"]

[tool.poetry.dependencies]
python = ">=3.8,<4.0"
msgspec = ">=0.11"
fsspec = "^2022.3"

[tool.poetry.dev-dependencies]
pytest = "^7.1"
pytest-benchmark = "^4.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
